{{- $kitty_font_size := promptStringOnce . "font_size" "Kitty font size" "13.0" -}}

[git]
autoCommit = true

[merge]
command = "nvim"
args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}"]

[diff]
pager = "delta"
# pager = "diff-so-fancy | less -x4 -RFXS --pattern '^(Date|added|deleted|modified): '"

[data]
kitty.font_size = {{ $kitty_font_size | quote }}

# vim: ft=toml
