[user]
    email = {{ .email }}
    name = {{ .name }}

[core]
    pager = diff-so-fancy | less --tabs=4 -RFXS
[interactive]
    diffFilter = diff-so-fancy --patch
[alias]
    patch = !git --no-pager diff --no-color

[init]
    defaultBranch = main

[pull]
    ff = only

[mergetool "nvim-fugitive"]
    cmd = nvim -c \"Gvdiffsplit!\" \"$MERGED\"
[merge]
    # tool = nvimdiff2 # doesn't support dp (:diffput)
    tool = nvim-fugitive
    guitool = kdiff3   pushInsteadOf = kde:
    conflictstyle = diff3

[url "https://github.com/"]
    insteadOf = gh:
[url "ssh://git@github.com:"]
    pushInsteadOf = gh:

[url "https://gitlab.com/"]
    insteadOf = gl:
[url "ssh://git@gitlab.com:"]
    pushInsteadOf = gl:

[url "https://invent.kde.org/"]
    insteadOf = kde:
[url "ssh://git@invent.kde.org:"]
