[user]
	email = {{ .email }}
	name = {{ .name }}

[branch]
	sort = -committerdate

[core]
	pager = delta

[delta]
	navigate = true # n/N keybinds
	line-numbers = true
	side-by-side = true
	file-modified-label = modified:

[interactive]
	diffFilter = delta --color-only

[diff]
	colorMoved = default

[init]
	defaultBranch = main

[pull]
	ff = only

[mergetool "nvim-fugitive"]
	cmd = nvim -c \"Gvdiffsplit!\" \"$MERGED\"
[merge]
	# tool = nvimdiff2 # doesn't support dp (:diffput)
	tool = nvim-fugitive
	guitool = kdiff3
	conflictstyle = diff3

# git pull also updates submodules
[submodule]
	recurse = true

[alias]
	rbdiff = "!f() { git range-diff --creation-factor=90 $(git merge-base $1 $(git symbolic-ref refs/remotes/origin/HEAD --short))..$1 $(git merge-base $2 $(git symbolic-ref refs/remotes/origin/HEAD --short))..$2; }; f"

# vim:ft=gitconfig:noet:sw=4:ts=4
